<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Locations</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/77b2fa8649.js" crossorigin="anonymous"></script>
        <!-- Load Leaflet from CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" crossorigin="" />
        <link rel="stylesheet" href="css/locationStyle.css" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/">Supers Tracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="sightings">Sightings</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="location">Locations<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="organizations">Organizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="superPerson">Supers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="superPower">Superpowers</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <h1 id="header" class="jumbotron">Locations</h1>
        </header>   

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="location : ${locationList}">
                                <td> 
                                    <span th:text="${location.locationName}"></span>
                                </td>
                                <td>
                                    <span th:text="${location.address}"></span>
                                </td>
                                <td>
                                    <a data-toggle="modal" data-target="#modal-details" th:attr="data-target='#modal-details'+${location.locationID}">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a data-toggle="modal" data-target="#modal-edit" th:attr="data-target='#modal-edit'+${location.locationID}" >
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${location.locationID}">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <div class="modal modal-details fade" th:id="modal-details+${location.locationID}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 th:text="'Details for ' + ${location.locationName}"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label class="detailLabels">Description</label>
                                                <div class="detailList">
                                                    <div class="locationDetails" th:text="${location.locationDescription}"></div>
                                                </div>
                                                <label class="detailLabels">Address</label>
                                                <div class="detailList">
                                                    <div class="locationDetails" th:text="${location.address}"></div>
                                                </div>
                                                <label class="detailLabels">Latitude & Longitude</label>
                                                <div class="detailList">
                                                    <div class="locationDetails" th:text="${location.latitude} + ', ' + ${location.longitude}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal modal-edit fade" th:id="modal-edit+${location.locationID}" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5>Edit Location</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <fieldset>
                                                    <form action="editLocation" method="POST">
                                                        <input type="hidden" name="locationID" th:value="${location.locationID}" />
                                                        <label>Name</label>
                                                        <input type="text" name="locationName" required="" maxlength="60" class="form-control input-md" th:value="${location.locationName}" />
                                                        <label>Description</label>
                                                        <input type="text" name="locationDescription" required="" maxlength="200" class="form-control input-md" th:value="${location.locationDescription}" />
                                                        <label>Address</label>
                                                        <textarea class="form-control" name= "address" required="" maxlength="100" rows="2" th:text="${location.address}"></textarea>
                                                        <label>Latitude</label>
                                                        <input type="number" step=".000001" name="latitude" required="" class="form-control input-md" th:value="${location.latitude}" />
                                                        <label>Longitude</label>
                                                        <input type="number" step=".000001" name="longitude" required="" class="form-control input-md" th:value="${location.longitude}" />
                                                        <div class="modal-footer">
                                                            <input type="submit" value="Submit" class="btn btn-success pull-right" />
                                                        </div>
                                                    </form>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal modal-warning fade" th:id="modal-warning+${location.locationID}" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header alert alert-danger">
                                                <h5>Delete Location</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Are you sure want to delete this location?</h3>
                                                <h5 class="text-danger">(This will delete all sightings tied to this location!)</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                                <a th:href="@{/deleteLocation(locationID=${location.locationID})}" >
                                                    <button class="btn btn-danger">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-4">
                    <div class="verticalLineBreak"></div>
                    <h2>Add Location</h2>
                    <fieldset>
                        <form action="addLocation" method="POST">
                            <label>Name</label>
                            <input type="text" name="locationName" placeholder= "Enter Location Name" required="" maxlength="60" class="form-control input-md">
                            <label>Description</label>
                            <input type="text" name="locationDescription" placeholder= "Enter Location Description" required="" maxlength="200" class="form-control input-md">
                            <label>Address</label>
                            <textarea id="address" class="form-control" required="" maxlength="100" name="address" rows="2" ></textarea>
                            <label>Latitude</label>
                            <input id="latitude" type="number" step=".000001" name="latitude" placeholder= "Enter Latitude" required="" class="form-control input-md">
                            <label>Longitude</label>
                            <input id="longitude" type="number" step=".000001" name="longitude" placeholder= "Enter Longitude" required="" class="form-control input-md">
                            <input type="submit" value="Add Location" class="btn btn-primary pull-right">
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- link cdn to bootstrap, jquery, popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>