.tradeHistoryBody {
    max-width: 100%;
    margin-top: 1%;
    letter-spacing: 1.5px;
    justify-content: center;
    align-content: center;
    position: relative;
    text-align: center;
}

.detailList {
    border: 1px solid #D3D3D3;
    margin-bottom: 2%;
}

.locationDetails {
    font-size: 12px;
    margin-left: 2%;
}

.detailLabels {
    margin-bottom: 0;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.panel-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.panel {
    position: relative;
    width: 100%;
    max-height: 20em;
    overflow: hidden;
    transition: max-height .5s ease;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    overflow-x: hidden;
    margin-bottom: 6em;
}

.item {
    width: 90%;
    margin: 2% 1% 0 0;
}

.btn {
    border-color: #000000;
    color: #333333;
    background: #EEEEEE;
    border-radius: 5px;
    left: 30%;
    padding: 1em;
    width: 40%;
}

.fa-thumbs-up, .fa-thumbs-down {
    cursor: pointer;
}